td {padding:2px}
td:has(hr){width:60%}

table {width:100% }
thead,tr{border-bottom:solid transparent}
.TOC{font-family:monospace}
blockquote{border-left:5px solid #ddf;background:#f8f8f8}
ol{padding-left:15px}
h1{
    text-align:center;
    font-size:300%;
    display:block;
    /* background-image:linear-gradient(to right,transparent,#fea,#fff,#eef,transparent); */
    padding:10px;
    border: 0;
    font-weight: normal;
    font-family:georgia;


}
body {
    font-family: Arial, sans-serif;
    padding: 0;
}


h2 {
    counter-increment: h2-n;
    counter-reset: h3-n;
    /* background-image:linear-gradient(to right,transparent,#fea,transparent); */
    font-size: 200%;
    display: block;
    margin: 20px 0;
    font-weight: bold;
    font-family: georgia;
}
h2::before {
    content: counter(h2-n, upper-roman) ". ";
}

h3 {
    counter-increment: h3-n;
    counter-reset: h4-n;
    /* background-image:linear-gradient(to right,#E1D5E7,white); */
    font-size: 150%;
    display: block;
    color: #333;
    padding: 0 14px;
    margin: 20px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
h3::before {
    content: counter(h2-n,upper-roman) ". " counter(h3-n) ". ";
}

h4 {
    counter-increment: h4-n;
    font-size: 125%;
    /* display: block;
    color: #9673A6;
    border-bottom: 3.5px solid;
    border-left: 5px solid;
    border-image: linear-gradient(to right, #E1D5E7, white) 1; */
    padding-left: 10px;
    margin: 4px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

h4::before {
    content: counter(h4-n,lower-alpha) ") ";
}

h5 {
    font-size: 110%;
    display: block;
    /* color: #606; */
    text-decoration:underline;
    margin: 10px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.i{height:30px;border:0px solid;border-radius:0px}

body>*>* >img{margin:5%;width:90%}

pre{
  /* background: #eee ; */
  border-radius:10px;
  border:1px solid;
  border-left:3px solid rgb(72, 147, 233);
  font-weight:bold;
  overflow: hidden;
  white-space: pre-wrap;}

/* pre:has(.language-java){background:#ffd;border-color:orange;border-left:5px solid orange } */

